REMOTE_SERVER="backup02.example.com"
SH_PORT="22"
SSH_USER="root"
BACKUPPC_INITD="/etc/init.d/backuppc"
CONFIG_DIR="/etc/backuppc/"
DATA_DIR="/var/lib/backuppc/"
LOG_DIR="/var/backuppc/logs"
LOG_FILE=$REMOTE_SERVER"-"$(date +"%F_%H%M")".txt"
LOG_PATH=$LOG_DIR'/'$LOG_FILE
CONF_ORIG="/var/backuppc/config.pl.ORIG-VERSION"
CONF_FILE="/etc/backuppc/config.pl"
LOCK_FILE='/var/backuppc/backuppc-sync-LOCK'
EMAIL_SUBJECT='Nightly BackupPC sync'
EMAIL_FROM='backup01@example.com'
EMAIL_TO='it@example.com'
RSYNC_BIN="/usr/bin/rsync"
TEE_BIN="/usr/bin/tee"
MAIL_BIN="/usr/bin/mail"
SSH_BIN="/usr/bin/ssh"
